
/* ----- SUPPORT IMAGES PERSONNALISE ----- */


.image-holder
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1820px;
	height: 350px;
}

.image-holder .image-content
{
	z-index: 4;
	position: relative;
	width: 600px;
	height: 325px;
	padding: 10px;
}

.image-holder .image-content img
{
	z-index: 4;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, .3);
	transition: 0.35s;
}

.image-holder .image-text-content 
{
	position: absolute;
	top: 0;
	padding: 20px 20px;
	transition: 0.35s;
}

.image-holder .image-text-content h2
{
	color: rgba(245, 245, 245, .8);
	font-family: "BebasNeue";
	font-size: 30px;
}


/* ----- SUPPORT PLANETES PERSONNALISE ----- */


.planets-holder
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1820px;
	height: 375px;
}

.planets-holder .planet-content
{
	z-index: 4;
	position: relative;
	width: 700px;
	height: 375px;
	padding: 10px;
}

.planets-holder .planet-content img
{
	z-index: 4;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, .3);
}

.planets-holder .planet-text-content 
{
	position: absolute;
	top: 0;
	padding: 20px 20px;
}

.planets-holder .planet-text-content h2
{
	color: rgba(245, 245, 245, .8);
	font-family: "BebasNeue";
	font-size: 35px;
}


/* ----- HEADER ----- */


.pageHeader
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.pageHeader img
{
	width: 100%;
	height: auto;
	margin-top: auto;
}

.headerContent
{
	display: flex;
	justify-content: flex-start;
	width: fit-content;
	position: absolute;
	left: 8%;
}

.headerContent h1
{
	font-family: "PassionOne";
	color: rgba(245, 245, 245, .7);
	font-size: 120px;
}

.headerPicture
{
	width: 100%;
	height: fit-content;
	max-width: 100%;
}