
/* ----- CUSTOM TOOLTIP ----- */


.tooltipBox
{
	position: relative;
	max-width: 100%;
	cursor: pointer;
	color: var(--color-secondary);
	font-family: 'PT Sans Narrow Bold';
}

.tooltipPopup
{
	position: absolute;
	display: grid;
	justify-content: center;
	align-items: center;
	cursor: text;
	width: max-content;
	max-width: 400px;
	box-sizing: border-box;
	left: -180px;
	top: 55px;
	background: rgb(253, 253, 253);
	border-radius: 3px;
	border: 0.5px solid rgb(189, 186, 186);
	padding: 8px;
	padding-bottom: 10px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
	font-family: 'PT Sans Narrow';
	font-size: 18px;
	color: #353330;
	visibility: hidden;
	opacity: 0;
	transition: .35s;
	z-index: 25;
}

.tooltipPopup img
{
	width: 365px;
	height: 200px;
	margin: 10px;
	border-radius: 3px;
}

.tooltipPopup a
{
	cursor: pointer;
	margin: 10px;
}

.tooltipPopup:before
{
	position: absolute;
	content: '';
	margin: auto;
	width: 10px;
	height: 10px;
	background: rgb(253, 253, 253);
	border-top: 0.5px solid rgb(189, 186, 186);
	border-left: 0.5px solid rgb(189, 186, 186);
	left: 0;
	right: 0;
	top: -5px;
	transform: rotate(45deg);
}

.tooltipBox:hover .tooltipPopup
{
	visibility: visible;
	opacity: 1;
	transform: translate3d(0, -20px, 0);
	transition: .35s;
}
